<header class="navbar fix-top pull-right pull-left">
  <div class="wrapper">
    <div class="logo-wrapper">
      <div id="logo">
        <div class="logo-picture"></div>
      </div>
    </div>
    <div class="border"></div>
    <nav> 
      <ul class="left-list"> 
        <li><%= link_to "Projects", root_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
      <div class="separator"></div>
      <ul class="right-list"> 
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Resume", resume_path %></li>
      </ul>
    </nav>
  </div>
</header>
