html {
  @include font;
  color: $darkGray;
  overflow-x: scroll;
  overflow-y: scroll;
}

body {
  background: url(/assets/body_bg.gif) repeat fixed;
  bottom: 0;
  left: 0;
  padding-top: 110px;
  position: absolute;
  right: 0;
  top: 0;
}

#wrapper {
  min-height:100%;
  margin: 0 200px; 
  position: relative;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @include font;
  text-align: center;
}
